.App {
  display: flex;
  justify-content: space-around;
  font-family: Roboto;
}
button {
  font-size: 1.2rem;
  margin-top: 10%;
}
.user{
  margin-top: 20%;
}
.modalstyle{
  width: 20%;
  height: 50%;
  background-color : skyblue; 
 margin-left: 40%; 
 margin-top: 13%;
padding: 2%;
font-family: Roboto;
}
.cancel{
  background-color: red;
}
.cancelbtn{
  background-color: red;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  font-family: Roboto;
  
}