.card{
    width: 20%;
    height: 30%;
    background-color: skyblue;
    text-align: center;
    padding: 1%;
    margin: 2%;
}
@media(max-width:768px){
   .card{
      width: auto;
      height: auto;
   }
}
.box{
  
   height: 17px;
   width: 17px;
}